# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# .md files
*.md

# .xlsx files
*.xlsx

# .assets files
/src/assets
/public/images
/public/videos

# generate_images.js & read_base_64_image.js file
generate_images.js
read_base_64_image.js